<!-- Post Show -->

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <a href="{{post.url}}" class="lead">{{post.title}}</a>
        <p class="post-summary">{{post.summary}}</p>
    </div>
    <form action="/posts/{{post._id}}/comments" method="POST">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>

    <ul>
        {{#each post.comments}}
            <li class="list-group-item">
                <div><a href="/users/{{this.author.username}}" class="lead"><small>{{this.author.username}}</small></a></div>
                <p>{{this.content}}</p>
                <a href="/posts/{{this.author}}/comments/{{this._id}}/replies/new">Reply</a>
                {{> comment}}
                <ul>
                    {{#each this.replies}}
                    <li>
                        <p>{{this.content}}</p>
                    </li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
    
</div>
